// This file contains customizations of USWDS classes without a modifier
// which scopes it to a specific component.

@use "uswds-core" as *;

.usa-accordion__button {
  &:active {
    background-color: color("blue-cool-60");
    text-decoration: none;
    color: white;
  }
}

.usa-accordion__content {
  overflow: visible;
}

// used primarily in the admin pages
.usa-accordion.accordion-dibbs {
  .usa-accordion__button {
    background-color: color("base-lightest");
    border-radius: 0.25rem;
    color: color("base-darker");
    @include add-background-svg("usa-icons/arrow_drop_down");

    &[aria-expanded="true"] {
      @include add-background-svg("usa-icons/arrow_drop_up");
      border-end-end-radius: 0;
      border-end-start-radius: 0;
    }
  }

  .usa-accordion__content {
    border-radius: 0 0 0.25rem;
    border: 1px solid color("base-lightest");
    border-top: none;
    box-shadow: 0px 2px 3px 0px #f3f3f3;
    background-color: color("white");
  }
}

.usa-button.usa-pagination__button:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.usa-header {
  background-color: #172e51;
  color: white;

  .usa-logo {
    margin-left: 0px;

    a {
      color: white;
    }
  }

  .usa-navbar {
    border-bottom: none;
  }

  @media (min-width: 64em) {
    .usa-logo {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    .usa-nav-container {
      margin-left: 0px;
      padding: 0.5rem 1.5rem;

      &::after {
        content: none;
      }
    }
  }

  .usa-nav-container {
    margin-left: 0px;
    padding: 0.5rem 1.5rem;

    &::after {
      content: none;
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
  }
}

.usa-modal-overlay:has(.usa-modal.sidepanel-modal) {
  padding: 0;
  text-align: right;
  background: rgba(0, 0, 0, 0.2);
}

.usa-modal.sidepanel-modal {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  border-radius: 0;
  max-width: clamp(40rem, 50vw, 60rem);
  overflow-y: auto;

  .usa-modal__main {
    margin: -2rem 0;
  }

  .usa-modal__heading {
    font-size: 2.5rem;
  }

  .usa-modal__close {
    z-index: 30;
  }

  dt {
    text-transform: uppercase;
    color: color("base");
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  dd {
    margin-bottom: 3rem;
    margin-inline-start: 0;
  }
}

.usa-prose > h5 {
  font-family: "Source Sans Pro Web";
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.usa-summary-box {
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;

  h3:not(.usa-accordion__heading) {
    margin: 0px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.usa-table {
  overflow-wrap: break-word;

  thead th {
    background-color: #f0f0f0;
    vertical-align: top;
  }

  th,
  td {
    padding: 0.75rem;
  }
}

.usa-tooltip__body {
  max-width: 700px;
  min-width: min(450px, 0.25 * (100vw - 16rem));
  white-space: normal;
  text-align: left;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

.short-tooltip + .usa-tooltip__body {
  min-width: min(350px, 0.25 * (100vw - 16rem));
}
