// This file contains customizations of USWDS classes without a modifier
// which scopes it to a specific component.

@use "uswds-core" as *;

.usa-accordion__button {
  &:active {
    background-color: color("blue-cool-60");
    text-decoration: none;
    color: white;
  }
}

.usa-accordion__content {
  overflow: visible;
}

.usa-header {
  background-color: #172e51;
  color: white;

  .usa-logo {
    margin-left: 0px;

    a {
      color: white;
    }
  }

  .usa-navbar {
    border-bottom: none;
  }

  @media (min-width: 64em) {
    .usa-logo {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    .usa-nav-container {
      max-width: 65rem;
      margin-left: 0px;
      padding: 0.5rem 1.5rem;
    }
  }

  .usa-nav-container {
    max-width: 65rem;
    margin-left: 0px;
    padding: 0.5rem 1.5rem;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
  }
}

.usa-summary-box {
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;

  h3:not(.usa-accordion__heading) {
    margin: 0px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.usa-table {
  overflow-wrap: break-word;

  thead th {
    background-color: #f0f0f0;
    vertical-align: top;
  }

  th,
  td {
    padding: 0.75rem;
  }
}

.usa-tooltip__body {
  max-width: 700px;
  min-width: min(450px, 0.25 * (100vw - 16rem));
  white-space: normal;
  text-align: left;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

.short-tooltip + .usa-tooltip__body {
  min-width: min(350px, 0.25 * (100vw - 16rem));
}
