// This file contains declarations used in the styling of the ecr library (root) page

@use "uswds-core" as *;

// ==== Table styling ===== //

.library-patient-column {
  min-width: 16.3rem;
  width: 18%;
}

.library-received-date-column {
  width: 8.3rem;
  min-width: 8.3rem;
}

.library-encounter-date-column {
  width: 10%;
  min-width: 8.3rem;
}

.library-condition-column {
  min-width: 23rem;
  width: 25%;
}

.library-rule-column {
  min-width: 35.5rem;
  width: auto;
}

.ecr-table-list {
  @include unstyled-list;
  li:not(:first-child) {
    margin-top: 1rem;
  }
}

.table-ecr-library {
  font-size: 1rem;
  border-collapse: separate;
  font-family: "Source Sans Pro Web";

  // Hide highlight color by matching th color on sorted column - per design
  &.usa-table th {
    &[aria-sort="descending"] {
      background-color: #dfe1e2;
    }
    &[aria-sort="ascending"] {
      background-color: #dfe1e2;
    }
  }

  a {
    color: var(--Primary-primary, #005ea2);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }

  a,
  u {
    text-decoration: none;
  }

  tbody {
    isolation: isolate;

    td {
      border-bottom: 0;
    }

    tr {
      position: relative;

      &:first-child td {
        border-top: none;
      }

      &.main-row {
        z-index: 2;

        &:nth-child(odd) td {
          background-color: white;
        }

        &:nth-child(even) td {
          background-color: color("base-lightest");
        }

        td:first-child {
          padding-left: 0.25rem;
        }
      }

      &.related-row {
        z-index: 1; // behind main row

        td {
          background-color: #f9f9f9;
          border-top: 1px solid color("base-lighter");

          &:first-child {
            padding-left: 4rem;
          }
        }
      }
    }
  }

  .patient-name-cell {
    display: grid;
    grid-template-columns: 1.75rem auto;
    grid-template-areas: "button content";

    .expand-ecrs-button {
      grid-area: button;
      outline-offset: -0.25rem;
    }

    .patient-name-content {
      grid-area: content;
    }
  }

  thead {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

    th {
      background-color: color("base-lighter");
      border-bottom: 1px solid var(--Base-base, #71767a);

      &:first-child {
        padding-left: 2rem;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .expand-icon {
      transition: transform 0.2s ease-in-out;
    }
  }
}

// ==== Page styling ===== //

.ecr-library-wrapper {
  height: calc(100% - 4rem);
}

.height-ecr-library {
  height: calc(100% - 2.45rem - 1.5rem - 4.45rem);
}

.pagination-bar {
  .usa-pagination {
    margin: 0;
  }

  box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

// ==== Filter styling ===== //

.filter-button {
  background-color: color("base-lightest");
  box-shadow: inset 0 0 0 2px color("base-light");
  font-weight: normal;

  span svg {
    fill: color("base-light");
  }

  &:hover {
    background-color: color("base-lighter");
    box-shadow: inset 0 0 0 2px color("base");

    span svg {
      fill: color("base");
    }
  }

  &:active {
    background-color: color("base-lightest");
    box-shadow: inset 0 0 0 2px color("base-light");

    span svg {
      fill: color("base-light");
    }
  }
}

.filters-applied {
  box-shadow: inset 0 0 0 2px color("primary");
  background-color: color("primary-lighter");
  font-weight: bold;

  span svg {
    fill: color("primary");
  }

  &:hover {
    box-shadow: inset 0 0 0 2px color("primary-dark");
    background-color: color("primary-light");

    span svg {
      fill: color("primary-dark");
    }
  }

  &:active {
    box-shadow: inset 0 0 0 2px color("primary");
    background-color: color("primary-lighter");

    span svg {
      fill: color("primary");
    }
  }
}

.checkbox-color .usa-checkbox__label::before {
  box-shadow: 0 0 0 0.125rem color("base");
}

// ==== Sorting styling ===== //

.sort-button {
  border: none;
  transition: none;
  margin-left: auto;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  &:hover {
    background-color: transparent; /* Removes the hover background */
    color: inherit; /* Keeps the text color unchanged */
    text-decoration: inherit;
  }
  &:active {
    background-color: transparent; /* Keeps the original background color */
    color: inherit; /* Keeps the text color unchanged */
    text-decoration: inherit;
  }
  &:focus {
    background-color: transparent; /* Removes fill after click */
    color: inherit; /* Keeps the text color unchanged */
    text-decoration: inherit;
  }
  &:disabled {
    background-color: transparent; /* Removes fill after click */
    text-decoration: inherit;
    color: color("disabled-light");
  }
  &:disabled:hover {
    background-color: transparent; /* Removes fill after click */
    text-decoration: inherit;
    color: color("disabled-light");
  }
}

.sortable-column,
.sortable-desc-column,
.sortable-asc-column {
  &.usa-button {
    margin-left: auto;
    justify-content: flex-end;
    padding: 12px;
  }
}

.sort-div {
  width: 100%;
  display: flex;
}
