azure-identity>=1.25.3
cryptography>=50.0.1 # Transitive dependency, version pinned for security reasons
gevent>=26.8.0 # Transitive dependency, version pinned for security reasons
grequests>=0.7.0
msal>=1.38.0,<2 # Transitive dependency, version pinned for security reasons
requests>=2.34.2
urllib3>=2.7.0
