# Use the FHIR Converter Proxy URL here. If not using a proxy, set to: http://fhir-converter-service:8080
FHIR_CONVERTER_URL=http://fhir-converter-proxy-service:8080
INGESTION_URL=http://ingestion-service:8080
MESSAGE_PARSER_URL=http://message-parser-service:8080
TRIGGER_CODE_REFERENCE_URL=http://trigger-code-reference-service:8080

# Use the FHIR Converter Proxy Port here (8087). If not using a proxy, set to: 8082
fhir_converter_url=http://localhost:8087
ingestion_url=http://localhost:8083
message_parser_url=http://localhost:8085
trigger_code_reference_url=http://localhost:8086

ORCHESTRATION_PORT_NUMBER="8080"
FHIR_CONVERTER_PORT_NUMBER="8082"
INGESTION_PORT_NUMBER="8083"
MESSAGE_PARSER_PORT_NUMBER="8085"
TRIGGER_CODE_REFERENCE_PORT_NUMBER="8086"
FHIR_CONVERTER_PROXY_PORT_NUMBER="8087"