pydantic>=2.0.0
pydantic-settings
fastapi>=0.112.2
python-multipart>=0.0.18 # required by fastapi
uvicorn[standard]>=0.34.3
lxml
httpx[http2]>=0.28.1
python-dotenv
opentelemetry-distro>=0.54b0
opentelemetry-exporter-otlp>=1.33.0
opentelemetry-exporter-prometheus>=0.54b0
