pydantic>=2.13.5
pydantic-settings>=2.15.0
fastapi>=0.141.1
starlette>=1.6.0 # Transitive dependency, minimum version specified for security reasons
python-multipart>=0.0.32 # required by fastapi
uvicorn[standard]>=0.53.0
httpx[http2]>=0.28.1
python-dotenv>=1.2.3
