pydantic>=2.0.0
pydantic-settings
fastapi>=0.109.1
uvicorn
httpx
pathlib
pyway==0.3.24
psycopg2
tabulate
fhirpathpy
pandas>2.0.0
sqlalchemy
rapidfuzz
pyarrow>=14.0.1
mysql-connector-python>=9.1.0 # not directly required, pinned by Snyk to avoid a vulnerability