global
    # Config for logs to go to stdout
    log stdout format raw local0

defaults
    mode http
    # Logging
    log global
    option httplog
    
    # 10 seconds for AWS internal networking to connect
    timeout connect "${FHIR_CONVERTER_PROXY_CONNECT_TIMEOUT-10s}"
    
    # Timeout while requests sit in the queue (defaults to 60s)
    timeout queue "${FHIR_CONVERTER_PROXY_QUEUE_TIMEOUT-60s}"
    
    # Increased timeouts are critical for large uploads over the internal network
    timeout client "${FHIR_CONVERTER_PROXY_CLIENT_TIMEOUT-300s}"
    timeout server "${FHIR_CONVERTER_PROXY_SERVER_TIMEOUT-300s}"

frontend fhir_converter_proxy
    bind *:"${FHIR_CONVERTER_PROXY_PORT}"
    
    # 1. Define an ACL that checks the ENVIRONMENT variable (read at runtime)
    acl is_local env(ENVIRONMENT) -m str local
    
    # 2. If the variable is 'local', send traffic to the local backend
    use_backend local_converters if is_local
    
    # 3. Otherwise, default to the AWS Service Discovery - ECS backend
    default_backend ecs_converters

backend local_converters
    # Route to the instance with the fewest active connections
    balance leastconn
    
    # Check the converter health API
    option httpchk GET /
    # Checks server health every 5s; marks offline after 5 consecutive failures, and back online after 2 successes.
    default-server inter 5s fall 5 rise 2

    # maxconn (FHIR_CONVERTER_PROXY_MAX_CONNECTIONS default to 3) per server forces HAProxy to queue requests rather than crashing the converter
    #  - tune this number based on how many large eCRs a single task can handle in RAM at once
    server converter-1 fhir-converter-service:"${FHIR_CONVERTER_PORT}" check maxconn "${FHIR_CONVERTER_PROXY_MAX_CONNECTIONS-3}" init-addr last,libc,none

# AWS VPC DNS Resolver (Always at this IP in AWS)
resolvers aws_dns
    nameserver dns1 169.254.169.253:53  # Standard AWS VPC DNS IP
    hold valid 10s                      # Refresh every 10 seconds

backend ecs_converters
    # Route to the instance with the fewest active connections
    balance leastconn
    
    # Check the converter health API
    option httpchk GET /
    # Checks server health every 5s; marks offline after 5 consecutive failures, and back online after 2 successes.
    default-server inter 5s fall 5 rise 2

    # "server-template" creates FHIR_CONVERTER_PROXY_INSTANCE_SLOTS (default to 10) "slots", one for each converter instance registered with the resolver. 
    # HAProxy fills the slots by querying 'fhir-converter-dns.<aws_service_discovery_private_dns_namespace name>'
    # maxconn (FHIR_CONVERTER_PROXY_MAX_CONNECTIONS default to 3) per server forces HAProxy to queue requests rather than crashing the converter
    #  - tune this number based on how many large eCRs a single task can handle in RAM at once
    server-template converter- "${FHIR_CONVERTER_PROXY_INSTANCE_SLOTS-10}" fhir-converter-dns."${FHIR_CONVERTER_ECS_NAMESPACE}":"${FHIR_CONVERTER_PORT}" check maxconn "${FHIR_CONVERTER_PROXY_MAX_CONNECTIONS-3}" resolvers aws_dns init-addr none
